body,
html {
  margin: 0;
  height: 100%;
}
body {
  /* color: white; */
  /* Sets the background image */
  background-image: url("https://bit.ly/webApp_Assets_background");
  background-repeat: no-repeat;
  background-size: cover;
}


/** Spinner **/
.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
